@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url('/bg_liga.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--foreground);
  /* Hapus atau pisahkan background-color */
  background-color: var(--background);  /* Gunakan ini sebagai fallback */
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.table td, .table th {
  white-space: nowrap;
}

.search-jadwal::placeholder {
  color: white !important;
  opacity: 1 !important;
}
.search-jadwal {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 0px solid white;
}


.input-dark,
.input-dark::placeholder,
.select-dark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
}

.input-dark::placeholder {
  color: white;
  opacity: 1;
}

.select-dark option {
  background-color: black;
  color: white;
}
